<html>
<head>
    <title>Cars and Recalls</title>
</head>
<body>
    <h1>Cars and Recalls</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/cars_recalls">Cars and Recalls<a/> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a> | <a href="/vehicle_recall_status">Vehicle Recall Status</a>]
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Car</th>
        <th>Recall</th>
    </tr>
    <tbody>
    {% for carsRecall in carsRecalls %}
    <tr>
        <td>{{carsRecall['carMake']}} {{carsRecall['carModel']}} {{carsRecall['carYear']}}</td>
        <td>{{carsRecall['recallType']}} {{carsRecall['dateIssued']}}</td>
    </tr>
    {% endfor %}
    </table>

    <p></p>
    <form method="post" id="addCarRecall" action ="/cars_recalls">
        <legend><strong>Link a Car to a Recall</strong></legend>
            <fieldset class="fields">
                <label for "carInfo"> Vehicle </label> 
                    <select name="carModelID" id="carModelID">
                        {% for car in cars %}
                        <option value="{{car['carModelID']}}">{{car['carMake']}} {{car['carModel']}} {{car['carYear']}}</option>
                        {% endfor %}
                    </select>
                <label for "recallInfo"> Recall </label> 
                    <select name="recallID" id="recallID">
                        {% for recall in recalls %}
                        <option value="{{recall['recallID']}}">{{recall['recallType']}} {{recall['dateIssued']}}</option>
                        {% endfor %}
                    </select>
            </fieldset>
            <input class="btn" type="submit" id="addCarRecall" name="addCarRecall" value="Link a car to recall">
    </form> <!--Link car to recall-->
</body>
</html>