<html>
<head>
    <title>Cars</title>
</head>
<body>
    <h1>Cars</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/customers">Customers</a>]
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Model Year</th>
    </tr>
    <tbody>
    {% for car in cars %}
    <tr>
        <td><a href="delete_cars/{{car.carModelID}}">Delete</a></td>
        <td>{{car['carModelID']}}</td>
        <td>{{car['carMake']}}</td>
        <td>{{car['carModel']}}</td>
        <td>{{car['carYear']}}</td>
    </tr>
    {% endfor %}
    </table>

    <p></p>
    <form method="post" id="addCar" action ="/cars">
        <legend><strong>Add a Car</strong></legend>
            <fieldset class="fields">
                <label> Car Make </label> <input type="text" name="carMake">
                <label> Car Model </label> <input type="text" name="carModel">
                <label> Model Year </label> <input type="text" name="carYear">
            </fieldset>
            <input class="btn" type="submit" id="addCar" name="addCar" value="Add a Car">
            <input class="btn" type="button" value="cancel">
    </form> <!--add new car-->
</body>
</html>