<html>
<head>
    <title>Customers' Vehicles</title>
</head>
<body>
    <h1>Customers' Vehicles</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/cars_recalls">Cars and Recalls<a/> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a> | <a href="/vehicle_recall_status">Vehicle Recall Status</a>]
    <p></p>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Customer Phone Number</th>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Model Year</th>
        <th>VIN</th>
        <th>Sale Date</th>
        <th>Last Service Date</th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tbody>
    {% for customersVehicle in customersVehicles %}
    <tr>
        <td>{{customersVehicle['firstName']}}</td>
        <td>{{customersVehicle['lastName']}}</td>
        <td>{{customersVehicle['phoneNumber']}}</td>
        <td>{{customersVehicle['carMake']}}</td>
        <td>{{customersVehicle['carModel']}}</td>
        <td>{{customersVehicle['carYear']}}</td>
        <td>{{customersVehicle['vinNumber']}}</td>
        <td>{{customersVehicle['saleDate']}}</td>
        <td>{{customersVehicle['lastServiceDate']}}</td>
        <td><a href="delete_customers_vehicle/{{customersVehicle.customerVehicleID}}">Delete</a></td>
        <td><a href="edit_customers_vehicle/{{customersVehicle.customerVehicleID}}">Update Service Date</a></td>
        <td><a href="edit_customers_vehicle_customer/{{customersVehicle.customerVehicleID}}">Edit Customer</a></td>
    </tr>
    {% endfor %}
    </table>

    <p></p>
    <form method="post" id="addCustomersVehicle" action ="/customers_vehicles">
        <legend><strong>Add a Customer Vehicle</strong></legend>
            <fieldset class="fields">
                <label for "customerInfo"> Select Customer </label> 
                    <select name="customerID" id="customerID">
                        {% for customer in customers %}
                        <option value="{{customer['customerID']}}">{{customer['firstName']}} {{customer['lastName']}} {{customer['phoneNumber']}}</option>
                        {% endfor %}
                    </select>
                <label for "carInfo"> Vehicle </label> 
                    <select name="carModelID" id="carModelID">
                        {% for car in cars %}
                        <option value="{{car['carModelID']}}">{{car['carMake']}} {{car['carModel']}} {{car['carYear']}}</option>
                        {% endfor %}
                    </select>
                <label> VIN </label> <input type="text" name="vinNumber">
                <label> Sale Date </label> <input type="text" name="saleDate">
                <label> Last Service Date </label> <input type="text" name="lastServiceDate">
            </fieldset>
            <input class="btn" type="submit" id="addCustomersVehicle" name="addCustomersVehicle" value="Add a Customer's Vehicle">
    </form> <!--add new customer-->
    <p></p>
    <form method="post" id="findVin" action ="/customers_vehicles">
        <legend><strong>Find Customer's Vehicle by Vin Number</strong></legend>
            <fieldset class="fields">
                <label> Vin Number </label> <input type="text" name="vinNumber">
            </fieldset>
            <input class="btn" type="submit" id="findVin" name="findVin" value="Find a Vin">
    </form> <!--find car by Vin-->


</body>
</html>