<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/cars_recalls">Cars and Recalls<a/> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a> | <a href="/vehicle_recall_status">Vehicle Recall Status</a>]
    <p></p>
    <table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
        <th></th>

    </tr>
    <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{customer['firstName']}}</td>
        <td>{{customer['lastName']}}</td>
        <td>{{customer['phoneNumber']}}</td>
        <td>{{customer['email']}}</td>
        <td><a href="edit_customer/{{customer.customerID}}">Edit</a></td>
        <td><a href="view_customers_vehicles/{{customer.customerID}}">View all Vehicles</a></td>
    </tr>
    {% endfor %}
    </table>

    <p></p>
    {% if error %}
        <div class="error-msg">{{error}}</div>
    {% endif %}
    <form method="post" id="addCustomer" action ="/customers">
        <legend><strong>Add a Customer</strong></legend>
            <fieldset class="fields">
                <label> First Name </label> <input type="text" name="firstName">
                <label> Last Name </label> <input type="text" name="lastName">
                <label> Phone Number </label> <input type="text" name="phoneNumber">
                <label> Email </label> <input type="text" name="email">
            </fieldset>
            <input class="btn" type="submit" id="addCustomer" name="addCustomer" value="Add a Customer">
    </form> <!--add new customer-->
    <p></p>
    <form method="post" id="findCustomer" action ="/customers">
        <legend><strong>Find Customer by Last Name</strong></legend>
            <fieldset class="fields">
                <label> Last Name </label> <input type="text" name="lastName">
            </fieldset>
            <input class="btn" type="submit" id="findCustomer" name="findCustomer" value="Find a Customer">
    </form> <!--find customer-->


</body>
</html>