<html>
<head>
    <title>Edit Customer</title>
</head>
<body>
    <h1>Customers</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a>]

    <p></p>
    
    <form method="post" id="editCustomer">
        <legend><strong>Edit Customer</strong></legend>
            <fieldset class="fields">
                <label> First Name </label> <input type="text" name="firstName" value={{customers[0]['firstName']}}>
                <label> Last Name </label> <input type="text" name="lastName" value={{customers[0]['lastName']}}>
                <label> Phone Number </label> <input type="text" name="phoneNumber" value={{customers[0]['phoneNumber']}}>
                <label> Email </label> <input type="text" name="email" value={{customers[0]['email']}}>
            </fieldset>
            <input class="btn" type="submit" id="editCustomer" name="editCustomer" value="Edit Customer">
            <input class="btn" type="submit" id="cancelEditCustomer" name="cancelEditCustomer" value="cancel">
    </form> <!--Edit customer-->

    
</body>
</html>