<html>
    <head>
    <title>Home Page</title>
    </head>
    
    <body>
    <h1>Home Page</h1>
    
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a>]
    <div id="browse" style="display: block">
    <p></p>
    <table border="1" cellpadding="5">
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><a href="/cars">Cars</a></td>
        <td>Master list of all vehicles in this world</td>

      </tr>
      <tr>
        <td><a href="/recalls">Recalls</a></td>
        <td>Master list of all recalls in the vehicles that exist in this world</td>

      </tr>

        <tr>
        <td><a href="/customers">Customers</a></td>
        <td>Pawtomotive Auto Shop Customers' Information</td>

      </tr>

        <tr>
        <td><a href="/customers_vehicles">Customers' Vehicles</a></td>
        <td>Pawtomotive Auto Shop Customers' Vehicle Information</td>

      </tr>

    </body>
    </html>