<html>
    <head>
    <title>Home Page</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
    <h1>Home Page</h1>
    
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> ]
    <div id="browse" style="display: block">
    <p></p>
    <table border="1" cellpadding="5">
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><a href="/cars">Cars</a></td>
        <td>Master list of all vehicles in this world</td>

      </tr>

    </body>
    </html>