<html>
<head>
    <title>Update Vehicle Recall Status</title>
</head>
<body>
    <h1>Update Vehicle Recall Status</h1>
    [ <a href="/">Home</a> |  <a href="/cars">Cars</a> | <a href="/recalls">Recalls</a> | <a href="/cars_recalls">Cars and Recalls<a/> | <a href="/customers">Customers</a> | <a href="/customers_vehicles">Customers' Vehicles</a> | <a href="/vehicle_recall_status">Vehicle Recall Status</a>]

    <p></p>
    
    <form method="post" id="updateVehcleRecallStatus">
        <legend><strong>Update Vehicle Recall Status</strong></legend>
            <fieldset class="fields">
                <label for "statusUpdate"> Fix Status </label> 
                    <select name="recallStatus" id="recallStatus">
                        <option value="0">Not Fixed</option>
                        <option value="1">Fixed</option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" id="updateVehicleRecallStatus" name="updateVehicleRecallStatus" value="Edit Customer's Vehicle">
            <input class="btn" type="submit" id="cancelUpdateRecallStatus" name="cancelUpdateRecallStatus" value="cancel">
    </form> <!--Update Recall Status-->

    
</body>
</html>